.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: sticky;
    top: 0;
    height: 100svh;
    box-sizing: border-box;
    background-color: black;
    padding: 10%;
}

.nav-bottom {
    margin-top: auto;
}

a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

p {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 900px) {
    .navbar {
        position: static;
    }
}